<div class="form-container">
  <form [formGroup]="signatureForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    <app-image-upload (imageUploaded)="onImageUpload($event)"></app-image-upload>

    <app-signature-templates (templateSelected)="onTemplateSelected($event)"></app-signature-templates>

    <mat-form-field appearance="fill">
      <mat-label>Template</mat-label>
      <mat-select formControlName="template">
        <mat-option *ngFor="let template of templates" [value]="template">{{ template.id }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit">Generate Signature</button>
  </form>
  <app-signature-preview [signatureData]="signatureData"></app-signature-preview>
</div>
